<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <h1>Vis Ma vie d'autiste, l'Application !</h1>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <img [src]="imageSrc()" [alt]="imageName()" height="100" />
      </div>
  </div>
  <div class="rom">
    <div class="col-lg-12">
      Bienvenue dans l'application officielle de la page Facebook Vis Ma Vie D'autiste :-)
      <br>
      Dans cette application, seront :
      <br>
      <app-main-navigation></app-main-navigation>
    </div>
  </div>
</div>
