<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>DSM-5</h2>
            <p>Voici une définition rapide tirée du DSM-5 : </p>
            <ul class="list-group">
                <li class="list-group-item">A. Déficits persistants de la communication et des interactions sociales observés dans des contextes variés.</li>
                <li class="list-group-item">B. Caractère restreint et répétitif des comportements, des intérêts ou des activités</li>
                <li class="list-group-item">C. Les symptômes doivent être présents dès les étapes précoces du développement</li>
                <li class="list-group-item">D. Les symptômes occasionnent un retentissement cliniquement significatif</li>
                <li class="list-group-item">E. Ces troubles ne sont pas mieux expliqués par un handicap intellectuel 
                    (trouble du développement intellectuel) ou un retard global du développement<br>
                    Les spécifications de sévérité (cf. tableau 2) peuvent être utilisées pour décrire succinctement les symptômes actuels (qui peuvent se situer en deçà du niveau 1), en tenant compte du fait que les symptômes peuvent varier en fonction du contexte et fluctuer
                    dans le temps.  3 niveaux : 
                    <ol class="list-group">
                        <li class="list-goup-item">Nécessitant de l'aide</li>
                        <li class="list-goup-item">Nécessitant une aide importante</li>
                        <li class="list-goup-item">Nécessitant une aide très importante.</li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
</div>










